body {
  font-family: Righteous, cursive;
}

div.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

img {
  width: 100%;
}

.one-fourth {
  flex-basis: calc(100%/4);
}

.one-third {
  flex-basis: calc(100%/3);
}

.two-thirds {
  flex-basis: 66%;
}
