body {
  font-family: "DM Sans", sans-serif;
}

div.row > h1 {
  text-align: center;
  width: 100%;
}

.row {
  display: flex;
  margin: 0 90px;
}

.col {
  flex-basis: calc(100%/5);
}

img {
  width: 100%;
  height: 400px;
}

.left-text {
  font-size: 14px;
}

.right-text {
  font-size: 14px;
  color: rgb(190 190 190);
  margin-left: 7px;
}

.first-line {
  border-left: 1.3px solid rgb(190 190 190);
  padding-left: 7px;
}

.second-right-line {
  text-decoration: line-through;
}

.second-left-line {
  background-color: rgb(248 231 217);
}
